<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
    <title>Document</title>
    <style>
      .container { margin: 0 auto; width: 80%; text-align: center; color:
      #313131; } .title, .lets-p { font-size: 2em; font-weight: bold; } .conf-p
      { font-size: 1em; } .conf-link { display: block; margin: 0 auto; width:
      200px; height: 50px; text-decoration: none; background-color: #727272;
      border-radius: 5px; } .link-text { color: #fff; font-size: 2.5em;
      line-height: 50px; }
    </style>
  </head>

  <body>
    <div class='container'>
      <div style='text-align: center;'>
        <img
          src='https://res.cloudinary.com/daewfkfzs/image/upload/v1664367572/ipaybtc/IpayBTC_White_Logo-02_1_1_mi2fzq.png'
          width='150'
          alt=''
          srcset=''
        />
      </div>
      <h1 class='title'>Hello</h1>
      <p class='conf-p'>
        You sent a request to change your password.
      </p>
      <p class='conf-p'>
        Use the code below to change your password.
      </p>
      <h4 class='conf-link'>
        <span class='link-text'>{{token}}</span>
      </h4>
    </div>
  </body>

</html>